/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes slide_buttons {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.card__like-button:hover::before {
    animation: slide_buttons 0.5s ease-in-out;
    transform: translateX(0);
  }
  
  .save_button:hover::before {
    animation: slide_buttons 0.5s ease-in-out;
    transform: translateX(0);
  }


  .like-icon  .main-body {
    fill: transparent;
    transition: fill 0.3s ease 0.05s;
  }
  
  .card__icon-button:hover .contour {
    fill: var(--contour-color);
  }
  
  .card__icon-button:hover .main-body {
    fill: var(--contour-color);
    transition: fill ease 0.3s 0.05s;
  }


  .card__icon-button:hover .core {
    fill: var(--contour-color);
    transition: fill ease 0.3s;
  }

  .card__icon-button:not(:hover) .main-body {
    fill: transparent;
    transition: fill ease 0.3s;
  }

  .card__icon-button:not(:hover) .core {
    fill: transparent;
    transition: fill 0.3s ease 0.03s;
  }

  .card__icon-button:active  .main-body {
    fill: var(--bg-heart);
    transition: fill  0.3s ease 0.05s;
  }
  .card__icon-button:active .core {
    fill: var(--bg-heart);
    transition: fill 0.3s ease;
  }

  .like-icon.is-liked .core {
    fill: var(--bg-heart);
    transition: fill  0.3s ease;
  }

  .like-icon.is-liked .main-body {
    fill: var(--bg-heart);
    transition: fill 0.3s ease 0.05s;
  }

  .like-icon.is-liked .contour {
    fill: var(--bg-heart);
    transition: fill 0.3s ease 0.06s;

  }

  @keyframes HeartScale {
    0% {
        transform: scale(1);
        transform-origin: center;
    }
    50% {
        transform: scale(1.25);
        transform-origin: center;
    }
    100% {
        transform: scale(1);
        transform-origin: center;
    }
  }


  .like-icon.is-liked .heart {
    animation: HeartScale 0.3s ease-in 0.1s 1 normal;
  }

  @keyframes SparksAppearance {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

  .like-icon.is-liked .sparks {
    animation: SparksAppearance 0.3s ease-in 0.3s 1 normal;
  }

  .like-icon .contour {
    transition-delay: 0.1s;
  }








