/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter", sans-serif);
  font-variation-settings: "wght" var(--normal-font-weight, 400);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 667px;
  min-width: 375px;
  width: 100%;
  background-image: var(--bg-image);
  background-size: 100% 100vh;
  background-attachment: local;
  background-position: top;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  block-size: 100%;
  inline-size: 100%;
}

.header_block {
  font-family: var(--accent-font, "PressStart2P", "Arial", fantasy);
  border: 2px solid rgb(0 0 0);
  inset-block-start: 100px;
  inset-inline-end: 100px;
  background-color: var(--main-color, #fff);
  inline-size: var(
    --main-inline-size,
    clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem)
  );
  padding: calc(clamp(7.5rem, 0.751vw + 7.324rem, 8rem))
    clamp(14px, 14px + (120.5 - 14) * ((100vw - 375px) / (1440 - 375)), 120.5px);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  block-size: fit-content;
  z-index: 1;
}

.header_main_title {
  font-size: calc(clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem));
  text-transform: uppercase;
}

.header_text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  background-color: var(--main-color, #fff);
  display: flex;
  flex-direction: column;
  gap: 49px;
  align-items: center;
  inline-size: var(--main-inline-size, clamp(375px, 100%, 696px));
  z-index: 1;
}

.card {
  inline-size: var(--main-inline-size, clamp(375px, 100%, 696px));
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 2px solid var(--accent-color, #000);
}

.card_title {
  font-size: var(--cards-titles-font-size, 18px);
  padding: 5px 10px 3px 10px;
  inline-size: 100%;
}

.card__image-wrapper {
  display: inline-block;
  position: relative;
  width: var(--main-inline-size, clamp(375px, 100%, 696px));
  align-self: center;
  z-index: -1;
  outline: 2px solid var(--accent-color, #000);
}

.card_image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
  outline: 2px solid var(--accent-color, #000);
}

.card_image_gray {
  filter: grayscale(0.7);
}

.card_image_saturated {
  filter: saturate(450%);
}

.card_image_color_reflected {
  filter: hue-rotate(30deg);
}

.card_image_inverted {
  filter: invert(0.7);
}

.card_image_sepia {
  filter: sepia(90%);
}

.card_image_blured {
  filter: blur(0.6rem);
}

.card_image_multiple_filtered {
  filter: hue-rotate(100deg) brightness(0.7) contrast(0.8);
}
.card__lebel {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 11px;
  right: clamp(0.813rem, 1.127vw + 0.548rem, 1.563rem);
  font-family: var(--accent-font, "PressStart2P", "Arial", fantasy);
  mix-blend-mode: hard-light;
  color: var(--label-color, rgb(1 1 1 / 0.5));
  font-size: var(--card-lables-font-size, 14px);
  text-shadow:
    -1px 0 var(--label-text-stroke-color, #fff),
    1px 0 var(--label-text-stroke-color, #fff),
    0 1px var(--label-text-stroke-color, #fff),
    0 -1px var(--label-text-stroke-color, #fff);
}

.card_text_container {
  line-height: 21px;
  display: flex;
  flex-direction: column;
  padding: var(--card-text-paddings, 33px 23px 25px);
  white-space: normal;
}

.card_text_container p {
  margin-bottom: 27px;
}

.card_text_container p:last-of-type {
  margin-bottom: 25px;
}

.card_text {
  font-size: var(--cards-main-text-font-size, 18px);
}

.card__buttons {
  display: flex;
  gap: 5px;
  align-self: flex-end;
  height: 40px;
  align-items: center;
}

.button__text {
  font-size: var(--button-text-font-size, 14px);
  font-family: var(--accent-font, "PressStart2P", "Arial", fantasy);
  color: var(--main-color, #fff);
  mix-blend-mode: difference;
  z-index: 2;
}

.card__icon-button {
  background-color: transparent;
  outline: none;
  border: transparent;
  padding-top: 5px;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color, #000);
  transition: outline 0.3s ease;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
  width: 130px;
  height: 38px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.text_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color, #000);
  position: relative;
  color: var(--main-color, #fff);
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.text_button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color, #000);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.save_button {
  inline-size: clamp(19.125rem, 18.487rem + 2.72vw, 20.938rem);
  block-size: clamp(55px, -2.723vw + 94.211px, 84px);
  flex-direction: row;
  gap: 8px;
  margin-bottom: 100px;
}

.save_button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color, #000);
  transition: box-shadow 0.3s ease;
}

.floppy-icon {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  color: var(--main-color, #fff);
  mix-blend-mode: difference;
}

.button_memory-text {
  font-family: var(--accent-font, "PressStart2P", "Arial", fantasy);
  font-size: var(--button-text-font-size, 14px);
  white-space: nowrap;
}

dialog {
  inline-size: clamp(341px, 1.127vw + 336.774px, 353px);
  align-self: center;
  justify-self: center;
  padding: 30px clamp(30px, -1.126vw + 46.222px, 42px);
  overflow: hidden;
  max-inline-size: calc(100% - 34px);
}

dialog[open] {
  display: grid;
  gap: 30px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog .floppy-icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog_content {
  display: grid;
  flex-direction: row;
  gap: 20px;
  grid-template-columns: 39px 1fr;
  align-items: center;
}

.dialog_text {
  font-family: var(--accent-font, "PressStart2P", "Arial", fantasy);
  font-size: var(--card-lables-font-size, 14px);
  text-transform: uppercase;
  line-height: 150%;
}

.dialog_button {
  inline-size: clamp(16.063rem, 15.27rem + 3.38vw, 18.313rem);
  block-size: 100%;
  min-block-size: 38px;
  background-color: transparent;
}

.dialog_button_text {
  font-family: var(--accent-font, "PressStart2P", "Arial", fantasy);
  font-size: var(--button-text-font-size, 14px);
  text-transform: uppercase;
}

.text_button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  z-index: 0;
  background-color: var(--accent-color);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

@supports (
    -webkit-text-stroke: 1px
      var(--label-text-stroke-color, rgb(255 255 255 / 0.5))
  )
  or (text-stroke: 1px var(--label-text-stroke-color, rgb(255 255 255 / 0.5))) {
  .card__lebel {
    -webkit-text-stroke: 1px
      var(--label-text-stroke-color, rgb(255 255 255 / 0.5));
    text-stroke: 1px var(--label-text-stroke-color, rgb(255 255 255 / 0.5));
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .page {
    min-inline-size: auto;
  }
  .main {
    inline-size: 100%;
  }

  .header_block {
    inline-size: 100%;
  }

  .card {
    inline-size: 100%;
  }

  .card__image-wrapper {
    inline-size: 100%;
  }

  .card_image {
    inline-size: 100%;
  }

  .card_text_container {
    padding: 28px 25px 26px;
  }

  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .save_button {
    flex-direction: column;
  }

  dialog {
    inline-size: 100%;
  }
}
